/* CCSTheme v 3.x */
/* General */

/* Colors */
.PageBgColorJoyful {
	background-color: #aec35d;
	}

.FormTitleBgColorJoyful {
	background-color: #d3661e;
	}

.FormTitleFontColorJoyful {
	color: #ffffff;
	}

.CaptionBgColorJoyful {
	background-color: #c9cb79;
	}

.CaptionFontColorJoyful {
	color: #66752b;
	}

.DataBgColorJoyful {
	background-color: #eef1e2;
	}

.AltDataBgColorJoyful {
	background-color: #e6eacc;
	}

.DataFontColorJoyful {
	color: #4e5920;
	}

.LinkColorJoyful {
	color: #0026d6;
	}

.VisitedLinkColorJoyful {
	color: #5151ff;
	}

.HoverLinkColorJoyful {
	color: #ff0080;
	}

.ColorBgButtonJoyful {
	background-color: #d3661e;
}

.ColorFontButtonJoyful {
	color: #ffffff;
}

.ColorBgButtonPassiveJoyful {
	background-color: #ffb07c;
}

.ColorFontButtonPassiveJoyful {
	color: #ffffff;
}



.HeaderJoyful {
	width: 100%;
	}

.HeaderJoyful th { 
	font-family: Arial; font-size: 110%; font-weight: bold; text-align: left;
	padding: 3px;
	background-image: url('Images/HeaderBg.gif'); color: #ffffff;
	width: 100%;
	white-space: nowrap;
	
	}



/*ie6*/
* html body .HeaderJoyful th {
	font-family: Arial; font-size: 140%; font-weight: bold; text-align: left;
}
/*end*/

.HeaderJoyful a:link { 
	color: #ffffff;
	}

.HeaderJoyful a:visited { 
	color: #ffffff;
	}

.HeaderJoyful a:hover, .CaptionJoyful a:active { 
	color: #ffffff; text-decoration: none;
	}

.HeaderLeftJoyful { 
	background-image: url('Images/HeaderLeft.gif');
	}

.HeaderRightJoyful { 
	background-image: url('Images/HeaderRight.gif');
	background-position: right top;
	}

.HeaderLeftJoyful img{
	width: 21px;
	}

.HeaderRightJoyful img{
	width: 2px;
	}


/* Grid Options */
.GridJoyful { 
	border: 2px solid #d3661e;
	width: 100%;
	}

.CaptionJoyful th { 
	font-family: Arial; font-size: 80%; text-align: left; vertical-align: top;
	padding: 3px;
	
	background-color: #eef1e2; color: #4e5920;
	white-space: nowrap;
	}

.CaptionJoyful td { 
	font-family: Arial; font-size: 80%; text-align: left; vertical-align: top;
	padding: 3px;
	
	background-color: #eef1e2; color: #4e5920;
	white-space: nowrap;
	}



/*ie6*/
* html body .CaptionJoyful th, * html body .CaptionJoyful td {
	font-family: Arial; font-size: 100%; text-align: left; vertical-align: top;
}
/*end*/

.CaptionJoyful a:link { 
	color: #4e5920;
	}

.CaptionJoyful a:visited { 
	color: #4e5920;
	}

.CaptionJoyful a:hover, .CaptionJoyful a:active { 
	color: #ff0080;
	}

.CaptionJoyful img {
	margin: 2px; 
	vertical-align: middle;
	}

.CaptionJoyful input {
	vertical-align: middle;
	}

.RowJoyful th { 
	font-family: Arial; font-size: 80%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 3px;
	
	background-color: #eef1e2; color: #4e5920;
	white-space: nowrap;
	color: #4e5920;
	}

.RowJoyful td { 
	font-family: Arial; font-size: 80%;
	padding: 3px;
	
	text-align: left;
	vertical-align: top;
	background-color: #eef1e2; 
	color: #4e5920;
	}
	


/*ie6*/
* html body .RowJoyful th, * html body .RowJoyful td {
	font-family: Arial; font-size: 100%;
}
/*end*/

caption.RowJoyful { 
	font-family: Arial; font-size: 80%;
	padding: 3px;
	border: 2px solid #d3661e; border-bottom: 0px;
	text-align: left;
	vertical-align: top;
	background-color: #eef1e2; 
	color: #4e5920;
	}



/*ie6*/
* html body caption.RowJoyful {
	font-family: Arial; font-size: 100%;
}
/*end*/

.RowJoyful a:link { 
	color: #0026d6;
	}

.RowJoyful a:visited { 
	color: #5151ff;
	}

.RowJoyful a:hover, .RowJoyful a:active { 
	color: #ff0080;
	}

.SeparatorJoyful{
	color: #d3661e;
	}

.SeparatorJoyful td{
	height: 1px;
	}


.AltRowJoyful th { 
	font-family: Arial; font-size: 80%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 3px;
	
	background-color: #eef1e2; color: #4e5920;
	white-space: nowrap;
	color: #4e5920;
	}

.AltRowJoyful td { 
	font-family: Arial; font-size: 80%;
	padding: 3px;
	
	text-align: left;
	vertical-align: top;
	background-color: #e6eacc; 
	color: #4e5920;
	}



/*ie6*/
* html body .AltRowJoyful th, * html body .AltRowJoyful td {
	font-family: Arial; font-size: 100%;
}
/*end*/

.AltRowJoyful a:link { 
	color: #0026d6;
	}

.AltRowJoyful a:visited { 
	color: #5151ff;
	}

.AltRowJoyful a:hover, .AltRowJoyful a:active { 
	color: #ff0080;
	}

.NoRecordsJoyful td { 
	font-family: Arial; font-size: 80%;
	padding: 3px;
	
	text-align: left;
	background-color: #eef1e2; 
	color: #4e5920;
	vertical-align: top;
	}

.FooterJoyful td { 
	font-family: Arial; font-size: 80%;
	padding: 3px;
	
	background-color: #eef1e2; color: #4e5920;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	color: #4e5920;
	}



/*ie6*/
* html body .NoRecordsJoyful td, * html body .FooterJoyful td {
	font-family: Arial; font-size: 100%;
}
/*end*/

.FooterJoyful a:link { 
	color: #0026d6;
	}

.FooterJoyful a:visited { 
	color: #5151ff;
	}

.FooterJoyful a:hover, .FooterJoyful a:active { 
	color: #ff0080;
	}

.FooterJoyful img {
	margin: 2px; 
	vertical-align: middle;
	}

.FooterJoyful input {
	margin: 2px;
	vertical-align: middle;
	}

/* Record Options */
.RecordJoyful { 
	border: 2px solid #d3661e;
	width: 100%;
	}

.ErrorJoyful td { 
	font-family: Arial; font-size: 80%;
	padding: 3px;
	
	text-align: left;
	color: #FF0000;
	vertical-align: top;
	background-color: #eef1e2; 
	}



/*ie6*/
* html body .ErrorJoyful td {
	font-family: Arial; font-size: 100%;
}
/*end*/

.ControlsJoyful th { 
	font-family: Arial; font-size: 80%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 3px;
	
	background-color: #eef1e2; color: #4e5920;
	white-space: nowrap;
	color: #4e5920;
	}

.ControlsJoyful td { 
	font-family: Arial; font-size: 80%;
	padding: 3px;
	
	text-align: left;
	vertical-align: top;
	background-color: #eef1e2; 
	color: #4e5920;
	}
	
.BottomJoyful td { 
	font-family: Arial; font-size: 80%;
	padding: 3px;
	
	background-color: #eef1e2; color: #4e5920;
	text-align: right;
	vertical-align: middle;
	white-space: nowrap;
	color: #4e5920;
	}



/*ie6*/
* html body .ControlsJoyful th, * html body .ControlsJoyful td, * html body .BottomJoyful td {
	font-family: Arial; font-size: 100%;
}
/*end*/

.BottomJoyful a:link { 
	color: #0026d6;
	}

.BottomJoyful a:visited { 
	color: #5151ff;
	}

.BottomJoyful a:hover, .CaptionJoyful a:active { 
	color: #ff0080;
	}

.BottomJoyful img {
	margin: 2px;
	vertical-align: middle; 
	}

.BottomJoyful input {
	margin: 2px;
	vertical-align: middle;
	}

/* Report */
.GroupCaptionJoyful th{
	font-family: Arial; font-size: 80%;
	padding: 3px;
	
	white-space: nowrap;
	text-align: left;
	vertical-align: top;
	font-weight: bold;
	background-color: #e6eacc; 
	color: #4e5920;
	}

.GroupCaptionJoyful td{
	font-family: Arial; font-size: 80%;
	padding: 3px;
	
	text-align: left;
	vertical-align: top;
	font-weight: bold;
	background-color: #eef1e2; 
	color: #4e5920;
	}



/*ie6*/
* html body .GroupCaptionJoyful th, * html body .GroupCaptionJoyful td {
	font-family: Arial; font-size: 100%;
}
/*end*/

.GroupCaptionJoyful a:link {
	color: #4e5920;
	}

.GroupCaptionJoyful a:visited{
	color: #4e5920;
	}

.GroupCaptionJoyful a:hover, .GroupCaptionJoyful a:active{
	color: #ff0080;
	}

.GroupFooterJoyful td{
	font-family: Arial; font-size: 80%;
	padding: 3px;
	
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	background-color: #c9cb79; 
	color: #4e5920;
	}



/*ie6*/
* html body .GroupFooterJoyful td {
	font-family: Arial; font-size: 100%;
}
/*end*/

.GroupFooterJoyful a:link {
	color: #0026d6;
	}

.GroupFooterJoyful a:visited{
	color: #5151ff;
	}

.GroupFooterJoyful a:hover, .GroupFooterJoyful a:active{
	color: #ff0080;
	}

.GroupFooterJoyful img {
	margin: 2px; 
	vertical-align: middle;
	}

.GroupFooterJoyful input {
	margin: 2px;
	vertical-align: middle;
	}

.SubTotalJoyful td{
	font-family: Arial; font-size: 80%;
	padding: 3px;
	
	text-align: left;
	vertical-align: top;
	font-weight: bold;
	background-color: #e6eacc; 
	color: #4e5920;
	border-bottom: 2px solid #d3661e;
	}



/*ie6*/
* html body .SubTotalJoyful td {
	font-family: Arial; font-size: 100%;
}
/*end*/

.SubTotalJoyful a:link {
	color: #0026d6;
	}

.SubTotalJoyful a:visited{
	color: #5151ff;
	}

.SubTotalJoyful a:hover, .SubTotalJoyful a:active{
	color: #ff0080;
	}

.TotalJoyful td{
	font-family: Arial; font-size: 80%;
	padding: 3px;
	
	text-align: left;
	vertical-align: top;
	white-space: nowrap;
	font-weight: bold;
	background-color: #e6eacc; 
	color: #4e5920;
	}



/*ie6*/
* html body .TotalJoyful td {
	font-family: Arial; font-size: 100%;
}
/*end*/

.TotalJoyful a:link {
	color: #0026d6;
	}

.TotalJoyful a:visited{
	color: #5151ff;
	}

.TotalJoyful a:hover, .TotalJoyful a:active{
	color: #ff0080;
	}

/* Form Options */
.ButtonJoyful { 
	background-color: #d3661e; color: #ffffff; border-left: solid 1px #EDEDED; border-top: solid 1px #EDEDED; border-right: solid 1px #848284; border-bottom: solid 1px #848284; padding: 2px; font-weight: bold; font-size: 85%; font-family: Tahoma;
	}

/* Calendar */

.CalendarJoyful { 
	border: 2px solid #d3661e;
	width: 100%;
	}

.CalendarWeekdayNameJoyful{
	font-family: Arial; font-size: 80%;
	padding: 3px;
	
	text-align: center; 
	vertical-align: top;
	white-space: nowrap;
	background-color: #e6eacc; 
	color: #4e5920;
	font-weight: normal;
	}



/*ie6*/
* html body .CalendarWeekdayNameJoyful {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarWeekdayNameJoyful a:link {
	color: #0026d6;
	}

.CalendarWeekdayNameJoyful a:visited{
	color: #5151ff;
	}

.CalendarWeekdayNameJoyful a:hover, .CalendarWeekdayNameJoyful a:active{
	color: #ff0080;
	}

.CalendarWeekendNameJoyful{
	font-family: Arial; font-size: 80%;
	padding: 3px;
	
	white-space: nowrap;
	text-align: center; 
	vertical-align: top;
	background-color: #e6eacc;	
	color: #4e5920;
	font-weight: normal;
	}



/*ie6*/
* html body .CalendarWeekendNameJoyful {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarWeekendNameJoyful a:link {
	color: #4e5920;
	}

.CalendarWeekendNameJoyful a:visited{
	color: #4e5920;
	}

.CalendarWeekendNameJoyful a:link, .CalendarWeekendNameJoyful a:visited{
	color: #ff0080;
	}

/* Calendar Day */
.CalendarDayJoyful{
	font-family: Arial; font-size: 80%;
	padding: 3px;
	
	text-align: center;
	background-color: #eef1e2;	
	color: #4e5920;
	}



/*ie6*/
* html body .CalendarDayJoyful {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarDayJoyful a:link {
	color: #0026d6;
	}

.CalendarDayJoyful a:visited{
	color: #5151ff;
	}

.CalendarDayJoyful a:hover, .CalendarDayJoyful a:active{
	color: #ff0080;
	}

/* Calendar Weekend */
.CalendarWeekendJoyful{
	font-family: Arial; font-size: 80%;
	padding: 3px;
	
	text-align: center;
	background-color: #e6eacc;	
	color: #4e5920;
	}



/*ie6*/
* html body .CalendarWeekendJoyful {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarWeekendJoyful a:link {
	color: #0026d6;
	}

.CalendarWeekendJoyful a:visited{
	color: #5151ff;
	}

.CalendarWeekendJoyful a:hover, .CalendarWeekendJoyful a:active{
	color: #ff0080;
	}

/* Calendar Today */
.CalendarTodayJoyful {
	font-family: Arial; font-size: 80%;
	padding: 1px;
	border: 2px solid #d3661e;
	text-align: center;
	background-color: #eef1e2;	
	color: #4e5920;
	}



/*ie6*/
* html body .CalendarTodayJoyful {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarTodayJoyful a:link {
	color: #0026d6;
	}

.CalendarTodayJoyful a:visited{
	color: #5151ff;
	}

.CalendarTodayJoyful a:hover, .CalendarTodayJoyful a:active {
	color: #ff0080;
	}

/* Calendar Weekend Today */
.CalendarWeekendTodayJoyful {
	font-family: Arial; font-size: 80%;
	padding: 1px;
	border: 2px solid #d3661e;
	text-align: center;
	background-color: #e6eacc;	
	color: #4e5920;
	}



/*ie6*/
* html body .CalendarWeekendTodayJoyful {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarWeekendTodayJoyful a:link {
	color: #0026d6;
	}

.CalendarWeekendTodayJoyful a:visited{
	color: #5151ff;
	}

.CalendarWeekendTodayJoyful a:hover, .CalendarWeekendTodayJoyful a:active{
	color: #ff0080;
	}

/* Calendar Other Month's Day */
.CalendarOtherMonthDayJoyful{
	font-family: Arial; font-size: 80%;
	padding: 3px;
	
	text-align: center;
	background-color: #eef1e2;	
	color: #d3661e;
	}



/*ie6*/
* html body .CalendarOtherMonthDayJoyful {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarOtherMonthDayJoyful a:link {
	color: #d3661e;
	}

.CalendarOtherMonthDayJoyful a:visited{
	color: #d3661e;
	}

.CalendarOtherMonthDayJoyful a:hover, .CalendarOtherMonthDayJoyful a:active{
	color: #ff0080;
	}

/* Calendar Other Month's Today */
.CalendarOtherMonthTodayJoyful {
	font-family: Arial; font-size: 80%;
	padding: 1px;
	border: 2px solid #d3661e;
	text-align: center;
	background-color: #eef1e2;	
	color: #d3661e;
	}



/*ie6*/
* html body .CalendarOtherMonthTodayJoyful {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarOtherMonthTodayJoyful a:link {
	color: #d3661e;
	}

.CalendarOtherMonthTodayJoyful a:visited{
	color: #d3661e;
	}

.CalendarOtherMonthTodayJoyful a:hover, .CalendarOtherMonthTodayJoyful a:active{
	color: #ff0080;
	}

/* Calendar Other Month's Weekend */
.CalendarOtherMonthWeekendJoyful {
	font-family: Arial; font-size: 80%;
	padding: 3px;
	
	text-align: center;
	background-color: #e6eacc;	
	color: #d3661e;
	}



/*ie6*/
* html body .CalendarOtherMonthWeekendJoyful {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarOtherMonthWeekendJoyful a:link {
	color: #d3661e;
	}

.CalendarOtherMonthWeekendJoyful a:visited{
	color: #d3661e;
	}

.CalendarOtherMonthWeekendJoyful a:hover, .CalendarOtherMonthWeekendJoyful a:active{
	color: #ff0080;
	}

/* Calendar Other Month's Weekend Today */
.CalendarOtherMonthWeekendTodayJoyful {
	font-family: Arial; font-size: 80%;
	padding: 1px;
	border: 2px solid #d3661e;
	text-align: center;
	color: #d3661e;
	background-color: #e6eacc;	
	}
	


/*ie6*/
* html body .CalendarOtherMonthWeekendTodayJoyful {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarOtherMonthWeekendTodayJoyful a:link {
	color: #d3661e;
	}

.CalendarOtherMonthWeekendTodayJoyful a:visited{
	color: #d3661e;
	}

.CalendarOtherMonthWeekendTodayJoyful a:hover, .CalendarOtherMonthWeekendTodayJoyful a:active{
	color: #ff0080;
	}

/* Calendar Selected Day (for DatePicker) */
.CalendarSelectedDayJoyful{
	font-family: Arial; font-size: 80%;
	padding: 3px;
	
	background-color: #c9cb79;
	color: #66752b;
	text-align: center;
	font-weight: bold;
	}
	


/*ie6*/
* html body .CalendarSelectedDayJoyful {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarSelectedDayJoyful a:link {
	color: #4e5920;
	}

.CalendarSelectedDayJoyful a:visited{
	color: #4e5920;
	}

.CalendarSelectedDayJoyful a:hover, .CalendarSelectedDayJoyful a:active{
	color: #ff0080;
	}

/* Calendar Navigator */
.CalendarNavigatorJoyful {
	font-family: Arial; font-size: 80%;
	padding: 3px;
	background-color: #eef1e2; color: #4e5920;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	color: #4e5920;
	}



/*ie6*/
* html body .CalendarNavigatorJoyful {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarNavigatorJoyful a:link {
	color: #0026d6;
	}

.CalendarNavigatorJoyful a:visited{
	color: #5151ff;
	}

.CalendarNavigatorJoyful a:hover, .CalendarNavigatorJoyful a:active{
	color: #ff0080;
	}

.CalendarNavigatorJoyful img{
	margin: 2px;
	vertical-align: middle; 	
	}

.CalendarNavigatorJoyful td {
	font-family: Arial; font-size: 80%;
	}

.CalendarNavigatorJoyful th {
	font-family: Arial; font-size: 80%;
	}



/*ie6*/
* html body .CalendarNavigatorJoyful th, * html body .CalendarNavigatorJoyful td {
	font-family: Arial; font-size: 100%;
}
/*end*/

/* Calendar Extra */
.CalendarEventJoyful{
	font-family: Arial; font-size: 80%;
	text-align: left;
	}



/*ie6*/
* html body .CalendarEventJoyful {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarEventJoyful a:link {
	color: #0026d6;
	}

.CalendarEventJoyful a:visited{
	color: #5151ff;
	}

.CalendarEventJoyful a:hover, .CalendarEventJoyful a:active{
	color: #ff0080;
	}

/* Changes for Section508 */
table tr td strong {
	padding: 0px;
	margin: 0px;
}

.thJoyful { 
	font-family: Arial; font-size: 80%;
	font-weight: bold;
}



/*ie6*/
* html body .thJoyful {
	font-size: 100%;
}
/*end*/

.HeaderJoyful .thJoyful { 
	font-family: Arial; font-size: 110%; font-weight: bold; text-align: left;
	padding: 3px;
	background-image: url('Images/HeaderBg.gif'); color: #ffffff;
	width: 100%;
	white-space: nowrap;
}



/*ie6*/
* html body .HeaderJoyful .thJoyful {
	font-family: Arial; font-size: 140%; font-weight: bold; text-align: left;
}
/*end*/

.CaptionJoyful .thJoyful { 
	font-family: Arial; font-size: 80%; text-align: left; vertical-align: top;
	padding: 3px;
	
	background-color: #eef1e2; color: #4e5920;
	white-space: nowrap;
}



/*ie6*/
* html body .CaptionJoyful .thJoyful {
	font-family: Arial; font-size: 100%; text-align: left; vertical-align: top;
}
/*end*/

.RowJoyful .thJoyful { 
	font-family: Arial; font-size: 80%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 3px;
	
	background-color: #eef1e2; color: #4e5920;
	white-space: nowrap;
	color: #4e5920;
}

.AltRowJoyful .thJoyful { 
	font-family: Arial; font-size: 80%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 3px;
	
	background-color: #eef1e2; color: #4e5920;
	white-space: nowrap;
	color: #4e5920;
}

.ControlsJoyful .thJoyful { 
	font-family: Arial; font-size: 80%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 3px;
	
	background-color: #eef1e2; color: #4e5920;
	white-space: nowrap;
	color: #4e5920;
}

.GroupCaptionJoyful .thJoyful {
	font-family: Arial; font-size: 80%;
	padding: 3px;
	
	text-align: left;
	white-space: nowrap;
	vertical-align: top;
	font-weight: bold;
	background-color: #e6eacc; 
	color: #4e5920;
}



/*ie6*/
* html body .GroupCaptionJoyful .thJoyful {
	font-family: Arial; font-size: 100%;
}

* html body .RowJoyful .thJoyful, * html body .AltRowJoyful .thJoyful, * html body .ControlsJoyful .thJoyful {
	font-family: Arial; font-size: 100%; font-weight: normal; text-align: left; vertical-align: top;
}
/*end*/

/* Class for Application Builder Menu */
.simpleMenuJoyful td {
	font-family: Arial; font-size: 80%;
}



/*ie6*/
* html body .simpleMenuJoyful td {
	font-family: Arial; font-size: 100%;
} 
/*end*/
