/* CCSTheme v 3.x */
/* General */

/* Colors */
.PageBgColor {
	background-color: #d6cfc7;
	}

.FormTitleBgColor {
	background-color: #e64444;
	}

.FormTitleFontColor {
	color: #ffffff;
	}

.CaptionBgColor {
	background-color: #e0cfb1;
	}

.CaptionFontColor {
	color: #000000;
	}

.DataBgColor {
	background-color: #f5f0eb;
	}

.AltDataBgColor {
	background-color: #e3dfd1;
	}

.DataFontColor {
	color: #000000;
	}

.LinkColor {
	color: #0033cc;
	}

.VisitedLinkColor {
	color: #830000;
	}

.HoverLinkColor {
	color: #ff0000;
	}


/* BEGIN Common */
body { 
	
	font-family: Arial; font-size: 80%;
	}




html body {
	font-family: Arial; font-size: 80%;
}

html body td, html body th, html body table {
	font-size: 100%;
}


.text { 
	color: #000000
	}

a.menulink:link, a.menulink:visited { 
	color: #0033cc;
	}

a.menulink:hover, a.menulink:active { 
	color: #ff0000;
	}


a:link { 
	color: #0033cc;
	}

a:visited { 
	color: #830000;
	}

a:hover,a:active { 
	color: #ff0000;
	}

ul, ol, blockquote { 
	margin-top: 5px; 
	margin-bottom: 10px; 
	margin-left: 20px; 
	}

form {
	margin: 0px;
	}

h1	{
	font-size: 150%;
	margin-top: 5px; 
	margin-bottom: 5px;
	}

h2	{ 
	font-size: 130%;
	margin-top: 15px; 
	margin-bottom: 5px; 
	}

h3	{ 
	font-size: 110%; font-style: italic;
	margin-top: 15px; 
	margin-bottom: 5px; 
	}

h4	{ 
	font-size: 100%;
	margin-top: 15px; 
	margin-bottom: 5px; 
	}

h5	{ 
	font-size: 100%; font-style: italic;
	margin-top: 15px; 
	margin-bottom: 5px; 
	}

h6	{ 
	font-size: 90%;
	margin-top: 15px; 
	margin-bottom: 5px; 
	}

th	{ 
	font-family: Arial; font-size: 80%;
	text-align: left;
	}

td { 
	font-family: Arial; font-size: 80%;
	text-align: left;
	}

/*input, textarea, select {
	font-family: Arial; font-size: 80%;
	font-size: 100%;
}

html>body input, html>body select, html>body textarea {
	font-family: Arial; font-size: 80%;
	font-size: inherit;
}*/

/* END Common */

.Header {
	width: 100%;
	}

.Header th { 
	font-size: 110%; font-weight: bold; text-align: center !important;
	padding: 3px;
	background-image: url('Images/HeaderBg.gif'); color: #ffffff;
	width: 100%;
	white-space: nowrap;
	}




html body .Header th {
	font-size: 140%; font-weight: bold; text-align: center !important;
}


.Header a:link { 
	color: #ffffff;
	}

.Header a:visited { 
	color: #ffffff;
	}

.Header a:hover, .Caption a:active { 
	color: #ffffff; text-decoration: none;
	}

.HeaderLeft { 
	background-image: url('Images/HeaderLeft.gif');
	}

.HeaderRight { 
	background-image: url('Images/HeaderRight.gif');
	background-position: right top;
	}

.HeaderLeft img{
	width: 9px;
	}

.HeaderRight img{
	width: 12px;
	}


/* Grid Options */
.Grid { 
	
	width: 100%;
	}

.Caption th { 
	font-size: 80%; 	text-align: left; vertical-align: top;
	padding: 3px;
	border-bottom: solid 1px #e64444;
	background-color: #e0cfb1; color: #000000;
	white-space: nowrap;
	}

.Caption td { 
	font-size: 80%; 	text-align: left; vertical-align: top;
	padding: 3px;
	border-bottom: solid 1px #e64444;
	background-color: #e0cfb1; color: #000000;
	white-space: nowrap;
	}




html body .Caption th, html body .Caption td {
	font-size: 100%; 	text-align: left; vertical-align: top;
}


.Caption a:link { 
	color: #000000;
	}

.Caption a:visited { 
	color: #000000;
	}

.Caption a:hover, .Caption a:active { 
	color: #ff0000;
	}

.Caption img {
	margin: 2px; 
	vertical-align: middle;
	}

.Caption input {
	vertical-align: middle;
	}

.Row th { 
	font-size: 80%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 3px;
	border-bottom: solid 1px #e64444;
	background-color: #f5f0eb; color: #000000;
	white-space: nowrap;
	color: #000000;
	}

.Row td { 
	font-size: 80%;
	padding: 3px;
	border-bottom: solid 1px #e64444;
	text-align: left;
	vertical-align: top;
	background-color: #f5f0eb; 
	color: #000000;
	}
	



html body .Row th, html body .Row td {
	font-size: 100%;
}


caption.Row { 
	font-size: 80%;
	padding: 3px;
	
	text-align: left;
	vertical-align: top;
	background-color: #f5f0eb; 
	color: #000000;
	}




html body caption.Row {
	font-size: 100%;
}


.Row a:link { 
	color: #0033cc;
	}

.Row a:visited { 
	color: #830000;
	}

.Row a:hover, .Row a:active { 
	color: #ff0000;
	}

.Separator{
	color: #e64444;
	}

.Separator td{
	height: 1px;
	}


.AltRow th { 
	font-size: 80%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 3px;
	border-bottom: solid 1px #e64444;
	background-color: #f5f0eb; color: #000000;
	white-space: nowrap;
	color: #000000;
	}

.AltRow td { 
	font-size: 80%;
	padding: 3px;
	border-bottom: solid 1px #e64444;
	text-align: left;
	vertical-align: top;
	background-color: #e3dfd1; 
	color: #000000;
	}




html body .AltRow th, html body .AltRow td {
	font-size: 100%;
}


.AltRow a:link { 
	color: #0033cc;
	}

.AltRow a:visited { 
	color: #830000;
	}

.AltRow a:hover, .AltRow a:active { 
	color: #ff0000;
	}

.NoRecords td { 
	font-size: 80%;
	padding: 3px;
	border-bottom: solid 1px #e64444;
	text-align: left;
	background-color: #f5f0eb; 
	color: #000000;
	vertical-align: top;
	}

.Footer td { 
	font-size: 80%;
	padding: 3px;
	border-bottom: solid 1px #e64444;
	background-color: #e0cfb1; color: #000000;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	color: #000000;
	}




html body .NoRecords td, html body .Footer td {
	font-size: 100%;
}


.Footer a:link { 
	color: #0033cc;
	}

.Footer a:visited { 
	color: #830000;
	}

.Footer a:hover, .Footer a:active { 
	color: #ff0000;
	}

.Footer img {
	margin: 2px; 
	vertical-align: middle;
	}

.Footer input {
	margin: 2px;
	vertical-align: middle;
	}

/* Record Options */
.Record { 
	
	width: 100%;
	}

.Error td { 
	font-size: 80%;
	padding: 3px;
	border-bottom: solid 1px #e64444;
	text-align: left;
	color: #FF0000;
	vertical-align: top;
	background-color: #f5f0eb; 
	}




html body .Error td {
	font-size: 100%;
}


.Controls th { 
	font-size: 80%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 3px;
	border-bottom: solid 1px #e64444;
	background-color: #f5f0eb; color: #000000;
	white-space: nowrap;
	color: #000000;
	}

.Controls td { 
	font-size: 80%;
	padding: 3px;
	border-bottom: solid 1px #e64444;
	text-align: left;
	vertical-align: top;
	background-color: #f5f0eb; 
	color: #000000;
	}
	
.Bottom td { 
	font-size: 80%;
	padding: 3px;
	border-bottom: solid 1px #e64444;
	background-color: #e0cfb1; color: #000000;
	text-align: right;
	vertical-align: middle;
	white-space: nowrap;
	color: #000000;
	}




html body .Controls th, html body .Controls td, html body .Bottom td {
	font-size: 100%;
}


.Bottom a:link { 
	color: #0033cc;
	}

.Bottom a:visited { 
	color: #830000;
	}

.Bottom a:hover, .Caption a:active { 
	color: #ff0000;
	}

.Bottom img {
	margin: 2px;
	vertical-align: middle; 
	}

.Bottom input {
	margin: 2px;
	vertical-align: middle;
	}

/* Report */
.GroupCaption th{
	font-size: 80%;
	padding: 3px;
	border-bottom: solid 1px #e64444;
	white-space: nowrap;
	text-align: left;
	vertical-align: top;
	font-weight: bold;
	background-color: #e3dfd1; 
	color: #000000;
	}

.GroupCaption td{
	font-size: 80%;
	padding: 3px;
	border-bottom: solid 1px #e64444;
	text-align: left;
	vertical-align: top;
	font-weight: bold;
	background-color: #f5f0eb; 
	color: #000000;
	}




html body .GroupCaption th, html body .GroupCaption td {
	font-size: 100%;
}


.GroupCaption a:link {
	color: #000000;
	}

.GroupCaption a:visited{
	color: #000000;
	}

.GroupCaption a:hover, .GroupCaption a:active{
	color: #ff0000;
	}

.GroupFooter td{
	font-size: 80%;
	padding: 3px;
	border-bottom: solid 1px #e64444;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	background-color: #e0cfb1; 
	color: #000000;
	}




html body .GroupFooter td {
	font-size: 100%;
}


.GroupFooter a:link {
	color: #0033cc;
	}

.GroupFooter a:visited{
	color: #830000;
	}

.GroupFooter a:hover,.GroupFooter a:active{
	color: #ff0000;
	}

.GroupFooter img {
	margin: 2px; 
	vertical-align: middle;
	}

.GroupFooter input {
	margin: 2px;
	vertical-align: middle;
	}

.SubTotal td{
	font-size: 80%;
	padding: 3px;
	border-bottom: solid 1px #e64444;
	text-align: left;
	vertical-align: top;
	font-weight: bold;
	background-color: #e3dfd1; 
	color: #000000;
	border-bottom: 2px solid #e64444;
	}




html body .SubTotal td {
	font-size: 100%;
}


.SubTotal a:link {
	color: #0033cc;
	}

.SubTotal a:visited{
	color: #830000;
	}

.SubTotal a:hover, .SubTotal a:active{
	color: #ff0000;
	}

.Total td{
	font-size: 80%;
	padding: 3px;
	border-bottom: solid 1px #e64444;
	text-align: left;
	vertical-align: top;
	white-space: nowrap;
	font-weight: bold;
	background-color: #e3dfd1; 
	color: #000000;
	}




html body .Total td {
	font-size: 100%;
}


.Total a:link {
	color: #0033cc;
	}

.Total a:visited{
	color: #830000;
	}

.Total a:hover, .Total a:active{
	color: #ff0000;
	}

/* Form Options */
.Button { 
	background-color: #e64444; color: #ffffff; border-left: solid 1px #EDEDED; border-top: solid 1px #EDEDED; border-right: solid 1px #848284; border-bottom: solid 1px #848284; padding: 2px; font-weight: bold; font-size: 85%; font-family: Tahoma;
	}

/* Calendar */

.Calendar { 
	
	width: 100%;
	}

.CalendarWeekdayName{
	font-size: 80%;
	padding: 3px;
	border-bottom: solid 1px #e64444;
	text-align: center; 
	vertical-align: top;
	white-space: nowrap;
	background-color: #e3dfd1; 
	color: #000000;
	font-weight: normal;
	}




html body .CalendarWeekdayName {
	font-size: 100%;
}


.CalendarWeekdayName a:link {
	color: #0033cc;
	}

.CalendarWeekdayName a:visited{
	color: #830000;
	}

.CalendarWeekdayName a:hover, .CalendarWeekdayName a:active{
	color: #ff0000;
	}

.CalendarWeekendName{
	font-size: 80%;
	padding: 3px;
	border-bottom: solid 1px #e64444;
	white-space: nowrap;
	text-align: center; 
	vertical-align: top;
	background-color: #e3dfd1;	
	color: #000000;
	font-weight: normal;
	}




html body .CalendarWeekendName {
	font-size: 100%;
}


.CalendarWeekendName a:link {
	color: #000000;
	}

.CalendarWeekendName a:visited{
	color: #000000;
	}

.CalendarWeekendName a:link, .CalendarWeekendName a:visited{
	color: #ff0000;
	}

/* Calendar Day */
.CalendarDay{
	font-size: 80%;
	padding: 3px;
	border-bottom: solid 1px #e64444;
	text-align: center;
	background-color: #f5f0eb;	
	color: #000000;
	}




html body .CalendarDay {
	font-size: 100%;
}


.CalendarDay a:link {
	color: #0033cc;
	}

.CalendarDay a:visited{
	color: #830000;
	}

.CalendarDay a:hover, .CalendarDay a:active{
	color: #ff0000;
	}

/* Calendar Weekend */
.CalendarWeekend{
	font-size: 80%;
	padding: 3px;
	border-bottom: solid 1px #e64444;
	text-align: center;
	background-color: #e3dfd1;	
	color: #000000;
	}




html body .CalendarWeekend {
	font-size: 100%;
}


.CalendarWeekend a:link {
	color: #0033cc;
	}

.CalendarWeekend a:visited{
	color: #830000;
	}

.CalendarWeekend a:hover, .CalendarWeekend a:active{
	color: #ff0000;
	}

/* Calendar Today */
.CalendarToday {
	font-size: 80%;
	padding: 1px;
	border: 2px solid #e64444; border-top: 1px solid #e64444;
	text-align: center;
	background-color: #f5f0eb;	
	color: #000000;
	}




html body .CalendarToday {
	font-size: 100%;
}


.CalendarToday a:link {
	color: #0033cc;
	}

.CalendarToday a:visited{
	color: #830000;
	}

.CalendarToday a:hover, .CalendarToday a:active {
	color: #ff0000;
	}

/* Calendar Weekend Today */
.CalendarWeekendToday {
	font-size: 80%;
	padding: 1px;
	border: 2px solid #e64444; border-top: 1px solid #e64444;
	text-align: center;
	background-color: #e3dfd1;	
	color: #000000;
	}




html body .CalendarWeekendToday {
	font-size: 100%;
}


.CalendarWeekendToday a:link {
	color: #0033cc;
	}

.CalendarWeekendToday a:visited{
	color: #830000;
	}

.CalendarWeekendToday a:hover, .CalendarWeekendToday a:active{
	color: #ff0000;
	}

/* Calendar Other Month's Day */
.CalendarOtherMonthDay{
	font-size: 80%;
	padding: 3px;
	border-bottom: solid 1px #e64444;
	text-align: center;
	background-color: #f5f0eb;	
	color: #e64444;
	}




html body .CalendarOtherMonthDay {
	font-size: 100%;
}


.CalendarOtherMonthDay a:link {
	color: #e64444;
	}

.CalendarOtherMonthDay a:visited{
	color: #e64444;
	}

.CalendarOtherMonthDay a:hover, .CalendarOtherMonthDay a:active{
	color: #ff0000;
	}

/* Calendar Other Month's Today */
.CalendarOtherMonthToday {
	font-size: 80%;
	padding: 1px;
	border: 2px solid #e64444; border-top: 1px solid #e64444;
	text-align: center;
	background-color: #f5f0eb;	
	color: #e64444;
	}




html body .CalendarOtherMonthToday {
	font-size: 100%;
}


.CalendarOtherMonthToday a:link {
	color: #e64444;
	}

.CalendarOtherMonthToday a:visited{
	color: #e64444;
	}

.CalendarOtherMonthToday a:hover,.CalendarOtherMonthToday a:active{
	color: #ff0000;
	}

/* Calendar Other Month's Weekend */
.CalendarOtherMonthWeekend {
	font-size: 80%;
	padding: 3px;
	border-bottom: solid 1px #e64444;
	text-align: center;
	background-color: #e3dfd1;	
	color: #e64444;
	}




html body .CalendarOtherMonthWeekend {
	font-size: 100%;
}


.CalendarOtherMonthWeekend a:link {
	color: #e64444;
	}

.CalendarOtherMonthWeekend a:visited{
	color: #e64444;
	}

.CalendarOtherMonthWeekend a:hover, .CalendarOtherMonthWeekend a:active{
	color: #ff0000;
	}

/* Calendar Other Month's Weekend Today */
.CalendarOtherMonthWeekendToday {
	font-size: 80%;
	padding: 1px;
	border: 2px solid #e64444; border-top: 1px solid #e64444;
	text-align: center;
	color: #e64444;
	background-color: #e3dfd1;	
	}
	



html body .CalendarOtherMonthWeekendToday {
	font-size: 100%;
}


.CalendarOtherMonthWeekendToday a:link {
	color: #e64444;
	}

.CalendarOtherMonthWeekendToday a:visited{
	color: #e64444;
	}

.CalendarOtherMonthWeekendToday a:hover, .CalendarOtherMonthWeekendToday a:active{
	color: #ff0000;
	}

/* Calendar Selected Day (for DatePicker) */
.CalendarSelectedDay{
	font-size: 80%;
	padding: 3px;
	border-bottom: solid 1px #e64444;
	background-color: #e0cfb1;
	color: #000000;
	text-align: center;
	font-weight: bold;
	}
	



html body .CalendarSelectedDay {
	font-size: 100%;
}


.CalendarSelectedDay a:link {
	color: #000000;
	}

.CalendarSelectedDay a:visited{
	color: #000000;
	}

.CalendarSelectedDay a:hover, .CalendarSelectedDay a:active{
	color: #ff0000;
	}

/* Calendar Navigator */
.CalendarNavigator {
	font-size: 80%;
	padding: 3px;
	background-color: #e0cfb1; color: #000000;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	color: #000000;
	}




html body .CalendarNavigator {
	font-size: 100%;
}


.CalendarNavigator a:link {
	color: #0033cc;
	}

.CalendarNavigator a:visited{
	color: #830000;
	}

.CalendarNavigator a:hover, .CalendarNavigator a:active{
	color: #ff0000;
	}

.CalendarNavigator img{
	margin: 2px;
	vertical-align: middle; 	
	}

.CalendarNavigator td {
	font-size: 80%;
	}

.CalendarNavigator th {
	font-size: 80%;
	}




html body .CalendarNavigator th, html body .CalendarNavigator td {
	font-size: 100%;
}


/* Calendar Extra */
.CalendarEvent{
	font-size: 80%;
	text-align: left;
	}




html body .CalendarEvent {
	font-size: 100%;
}


.CalendarEvent a:link {
	color: #0033cc;
	}

.CalendarEvent a:visited{
	color: #830000;
	}

.CalendarEvent a:hover, .CalendarEvent a:active{
	color: #ff0000;
	}

/* Changes for Section508 */
table tr td strong {
	padding: 0px;
	margin: 0px;
}

.th { 
	font-family: Arial; font-size: 80%;
	font-weight: bold;
}




html body .th {
	font-size: 100%;
}


.Header .th { 
	font-size: 110%; font-weight: bold; text-align: center !important;
	padding: 3px;
	background-image: url('Images/HeaderBg.gif'); color: #ffffff;
	width: 100%;
	white-space: nowrap;
}




html body .Header .th {
	font-size: 140%; font-weight: bold; text-align: center !important;
}


.Caption .th { 
	font-size: 80%; 	text-align: left; vertical-align: top;
	padding: 3px;
	border-bottom: solid 1px #e64444;
	background-color: #e0cfb1; color: #000000;
	white-space: nowrap;
}




html body .Caption .th {
	font-size: 100%; 	text-align: left; vertical-align: top;
}


.Row .th { 
	font-size: 80%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 3px;
	border-bottom: solid 1px #e64444;
	background-color: #f5f0eb; color: #000000;
	white-space: nowrap;
	color: #000000;
}

.AltRow .th { 
	font-size: 80%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 3px;
	border-bottom: solid 1px #e64444;
	background-color: #f5f0eb; color: #000000;
	white-space: nowrap;
	color: #000000;
}

.Controls .th { 
	font-size: 80%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 3px;
	border-bottom: solid 1px #e64444;
	background-color: #f5f0eb; color: #000000;
	white-space: nowrap;
	color: #000000;
}

.GroupCaption .th {
	font-size: 80%;
	padding: 3px;
	border-bottom: solid 1px #e64444;
	text-align: left;
	white-space: nowrap;
	vertical-align: top;
	font-weight: bold;
	background-color: #e3dfd1; 
	color: #000000;
}




html body .GroupCaption .th {
	font-size: 100%;
}

html body .Row .th, html body .AltRow .th, html body .Controls .th {
	font-size: 100%; font-weight: normal; text-align: left; vertical-align: top;
}


/* Class for Application Builder Menu */
.simpleMenu td {
	font-size: 80%;
}




html body .simpleMenu td {
	font-size: 100%;
} 

