/* CCSTheme v 3.x */
/* General */

/* Colors */
.PageBgColorFoggy {
	background-color: #dfdfdf;
	}

.FormTitleBgColorFoggy {
	background-color: #5a4dad;
	}

.FormTitleFontColorFoggy {
	color: #ffffff;
	}

.CaptionBgColorFoggy {
	background-color: #cccccc;
	}

.CaptionFontColorFoggy {
	color: #000000;
	}

.DataBgColorFoggy {
	background-color: #f7f7f7;
	}

.AltDataBgColorFoggy {
	background-color: #ebebeb;
	}

.DataFontColorFoggy {
	color: #000000;
	}

.LinkColorFoggy {
	color: #0033cc;
	}

.VisitedLinkColorFoggy {
	color: #830083;
	}

.HoverLinkColorFoggy {
	color: #ff0000;
	}




.HeaderFoggy {
	width: 100%;
	}

.HeaderFoggy th { 
	font-family: Arial; font-size: 110%; font-weight: bold; text-align: left;
	padding: 3px;
	background-image: url('Images/HeaderBg.gif'); color: #ffffff;
	width: 100%;
	white-space: nowrap;
	}





.HeaderFoggy a:link { 
	color: #ffffff;
	}

.HeaderFoggy a:visited { 
	color: #ffffff;
	}

.HeaderFoggy a:hover, .CaptionFoggy a:active { 
	color: #ffffff; text-decoration: none;
	}

.HeaderLeftFoggy { 
	background-image: url('Images/HeaderLeft.gif');
	}

.HeaderRightFoggy { 
	background-image: url('Images/HeaderRight.gif');
	background-position: right top;
	}

.HeaderLeftFoggy img{
	width: 7px;
	}

.HeaderRightFoggy img{
	width: 14px;
	}


/* Grid Options */
.GridFoggy { 
	border: 1px solid #5a4dad;
	width: 100%;
	}

.CaptionFoggy th { 
	font-family: Arial; font-size: 80%; text-align: left; vertical-align: top;
	padding: 3px;
	
	background-image: url('Images/CaptionBg.gif'); color: #000000;
	white-space: nowrap;
	}

.CaptionFoggy td { 
	font-family: Arial; font-size: 80%; text-align: left; vertical-align: top;
	padding: 3px;
	
	background-image: url('Images/CaptionBg.gif'); color: #000000;
	white-space: nowrap;
	}





.CaptionFoggy a:link { 
	color: #000000;
	}

.CaptionFoggy a:visited { 
	color: #000000;
	}

.CaptionFoggy a:hover, .CaptionFoggy a:active { 
	color: #ff0000;
	}

.CaptionFoggy img {
	margin: 2px; 
	vertical-align: middle;
	}

.CaptionFoggy input {
	vertical-align: middle;
	}

.RowFoggy th { 
	font-family: Arial; font-size: 80%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 3px;
	
	background-color: #f7f7f7; color: #000000;
	white-space: nowrap;
	color: #000000;
	}

.RowFoggy td { 
	font-family: Arial; font-size: 80%;
	padding: 3px;
	
	text-align: left;
	vertical-align: top;
	background-color: #f7f7f7; 
	color: #000000;
	}
	




caption.RowFoggy { 
	font-family: Arial; font-size: 80%;
	padding: 3px;
	border: 1px solid #5a4dad; border-bottom: 0px;
	text-align: left;
	vertical-align: top;
	background-color: #f7f7f7; 
	color: #000000;
	}





.RowFoggy a:link { 
	color: #0033cc;
	}

.RowFoggy a:visited { 
	color: #830083;
	}

.RowFoggy a:hover, .RowFoggy a:active { 
	color: #ff0000;
	}

.SeparatorFoggy{
	color: #5a4dad;
	}

.SeparatorFoggy td{
	height: 1px;
	}


.AltRowFoggy th { 
	font-family: Arial; font-size: 80%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 3px;
	
	background-color: #f7f7f7; color: #000000;
	white-space: nowrap;
	color: #000000;
	}

.AltRowFoggy td { 
	font-family: Arial; font-size: 80%;
	padding: 3px;
	
	text-align: left;
	vertical-align: top;
	background-color: #ebebeb; 
	color: #000000;
	}





.AltRowFoggy a:link { 
	color: #0033cc;
	}

.AltRowFoggy a:visited { 
	color: #830083;
	}

.AltRowFoggy a:hover, .AltRowFoggy a:active { 
	color: #ff0000;
	}

.NoRecordsFoggy td { 
	font-family: Arial; font-size: 80%;
	padding: 3px;
	
	text-align: left;
	background-color: #f7f7f7; 
	color: #000000;
	vertical-align: top;
	}

.FooterFoggy td { 
	font-family: Arial; font-size: 80%;
	padding: 3px;
	
	background-color: #cccccc; color: #000000;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	color: #000000;
	}





.FooterFoggy a:link { 
	color: #0033cc;
	}

.FooterFoggy a:visited { 
	color: #830083;
	}

.FooterFoggy a:hover, .FooterFoggy a:active { 
	color: #ff0000;
	}

.FooterFoggy img {
	margin: 2px; 
	vertical-align: middle;
	}

.FooterFoggy input {
	margin: 2px;
	vertical-align: middle;
	}

/* Record Options */
.RecordFoggy { 
	border: 1px solid #5a4dad;
	width: 100%;
	}

.ErrorFoggy td { 
	font-family: Arial; font-size: 80%;
	padding: 3px;
	
	text-align: left;
	color: #FF0000;
	vertical-align: top;
	background-color: #f7f7f7; 
	}





.ControlsFoggy th { 
	font-family: Arial; font-size: 80%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 3px;
	
	background-color: #f7f7f7; color: #000000;
	white-space: nowrap;
	color: #000000;
	}

.ControlsFoggy td { 
	font-family: Arial; font-size: 80%;
	padding: 3px;
	
	text-align: left;
	vertical-align: top;
	background-color: #f7f7f7; 
	color: #000000;
	}
	
.BottomFoggy td { 
	font-family: Arial; font-size: 80%;
	padding: 3px;
	
	background-color: #cccccc; color: #000000;
	text-align: right;
	vertical-align: middle;
	white-space: nowrap;
	color: #000000;
	}





.BottomFoggy a:link { 
	color: #0033cc;
	}

.BottomFoggy a:visited { 
	color: #830083;
	}

.BottomFoggy a:hover, .CaptionFoggy a:active { 
	color: #ff0000;
	}

.BottomFoggy img {
	margin: 2px;
	vertical-align: middle; 
	}

.BottomFoggy input {
	margin: 2px;
	vertical-align: middle;
	}

/* Report */
.GroupCaptionFoggy th{
	font-family: Arial; font-size: 80%;
	padding: 3px;
	
	white-space: nowrap;
	text-align: left;
	vertical-align: top;
	font-weight: bold;
	background-color: #ebebeb; 
	color: #000000;
	}

.GroupCaptionFoggy td{
	font-family: Arial; font-size: 80%;
	padding: 3px;
	
	text-align: left;
	vertical-align: top;
	font-weight: bold;
	background-color: #f7f7f7; 
	color: #000000;
	}





.GroupCaptionFoggy a:link {
	color: #000000;
	}

.GroupCaptionFoggy a:visited{
	color: #000000;
	}

.GroupCaptionFoggy a:hover, .GroupCaptionFoggy a:active{
	color: #ff0000;
	}

.GroupFooterFoggy td{
	font-family: Arial; font-size: 80%;
	padding: 3px;
	
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	background-color: #cccccc; 
	color: #000000;
	}





.GroupFooterFoggy a:link {
	color: #0033cc;
	}

.GroupFooterFoggy a:visited{
	color: #830083;
	}

.GroupFooterFoggy a:hover, .GroupFooterFoggy a:active{
	color: #ff0000;
	}

.GroupFooterFoggy img {
	margin: 2px; 
	vertical-align: middle;
	}

.GroupFooterFoggy input {
	margin: 2px;
	vertical-align: middle;
	}

.SubTotalFoggy td{
	font-family: Arial; font-size: 80%;
	padding: 3px;
	
	text-align: left;
	vertical-align: top;
	font-weight: bold;
	background-color: #ebebeb; 
	color: #000000;
	border-bottom: 2px solid #5a4dad;
	}





.SubTotalFoggy a:link {
	color: #0033cc;
	}

.SubTotalFoggy a:visited{
	color: #830083;
	}

.SubTotalFoggy a:hover, .SubTotalFoggy a:active{
	color: #ff0000;
	}

.TotalFoggy td{
	font-family: Arial; font-size: 80%;
	padding: 3px;
	
	text-align: left;
	vertical-align: top;
	white-space: nowrap;
	font-weight: bold;
	background-color: #ebebeb; 
	color: #000000;
	}





.TotalFoggy a:link {
	color: #0033cc;
	}

.TotalFoggy a:visited{
	color: #830083;
	}

.TotalFoggy a:hover, .TotalFoggy a:active{
	color: #ff0000;
	}

/* Form Options */
.ButtonFoggy { 
	background-color: #5a4dad; color: #ffffff; border-left: solid 1px #EDEDED; border-top: solid 1px #EDEDED; border-right: solid 1px #848284; border-bottom: solid 1px #848284; padding: 2px; font-weight: bold; font-size: 85%; font-family: Tahoma;
	}

/* Calendar */

.CalendarFoggy { 
	border: 1px solid #5a4dad;
	width: 100%;
	}

.CalendarWeekdayNameFoggy{
	font-family: Arial; font-size: 80%;
	padding: 3px;
	
	text-align: center; 
	vertical-align: top;
	white-space: nowrap;
	background-color: #ebebeb; 
	color: #000000;
	font-weight: normal;
	}





.CalendarWeekdayNameFoggy a:link {
	color: #0033cc;
	}

.CalendarWeekdayNameFoggy a:visited{
	color: #830083;
	}

.CalendarWeekdayNameFoggy a:hover, .CalendarWeekdayNameFoggy a:active{
	color: #ff0000;
	}

.CalendarWeekendNameFoggy{
	font-family: Arial; font-size: 80%;
	padding: 3px;
	
	white-space: nowrap;
	text-align: center; 
	vertical-align: top;
	background-color: #ebebeb;	
	color: #000000;
	font-weight: normal;
	}





.CalendarWeekendNameFoggy a:link {
	color: #000000;
	}

.CalendarWeekendNameFoggy a:visited{
	color: #000000;
	}

.CalendarWeekendNameFoggy a:link, .CalendarWeekendNameFoggy a:visited{
	color: #ff0000;
	}

/* Calendar Day */
.CalendarDayFoggy{
	font-family: Arial; font-size: 80%;
	padding: 3px;
	
	text-align: center;
	background-color: #f7f7f7;	
	color: #000000;
	}





.CalendarDayFoggy a:link {
	color: #0033cc;
	}

.CalendarDayFoggy a:visited{
	color: #830083;
	}

.CalendarDayFoggy a:hover, .CalendarDayFoggy a:active{
	color: #ff0000;
	}

/* Calendar Weekend */
.CalendarWeekendFoggy{
	font-family: Arial; font-size: 80%;
	padding: 3px;
	
	text-align: center;
	background-color: #ebebeb;	
	color: #000000;
	}





.CalendarWeekendFoggy a:link {
	color: #0033cc;
	}

.CalendarWeekendFoggy a:visited{
	color: #830083;
	}

.CalendarWeekendFoggy a:hover, .CalendarWeekendFoggy a:active{
	color: #ff0000;
	}

/* Calendar Today */
.CalendarTodayFoggy {
	font-family: Arial; font-size: 80%;
	padding: 1px;
	border: 2px solid #5a4dad;
	text-align: center;
	background-color: #f7f7f7;	
	color: #000000;
	}





.CalendarTodayFoggy a:link {
	color: #0033cc;
	}

.CalendarTodayFoggy a:visited{
	color: #830083;
	}

.CalendarTodayFoggy a:hover, .CalendarTodayFoggy a:active {
	color: #ff0000;
	}

/* Calendar Weekend Today */
.CalendarWeekendTodayFoggy {
	font-family: Arial; font-size: 80%;
	padding: 1px;
	border: 2px solid #5a4dad;
	text-align: center;
	background-color: #ebebeb;	
	color: #000000;
	}





.CalendarWeekendTodayFoggy a:link {
	color: #0033cc;
	}

.CalendarWeekendTodayFoggy a:visited{
	color: #830083;
	}

.CalendarWeekendTodayFoggy a:hover, .CalendarWeekendTodayFoggy a:active{
	color: #ff0000;
	}

/* Calendar Other Month's Day */
.CalendarOtherMonthDayFoggy{
	font-family: Arial; font-size: 80%;
	padding: 3px;
	
	text-align: center;
	background-color: #f7f7f7;	
	color: #5a4dad;
	}





.CalendarOtherMonthDayFoggy a:link {
	color: #5a4dad;
	}

.CalendarOtherMonthDayFoggy a:visited{
	color: #5a4dad;
	}

.CalendarOtherMonthDayFoggy a:hover, .CalendarOtherMonthDayFoggy a:active{
	color: #ff0000;
	}

/* Calendar Other Month's Today */
.CalendarOtherMonthTodayFoggy {
	font-family: Arial; font-size: 80%;
	padding: 1px;
	border: 2px solid #5a4dad;
	text-align: center;
	background-color: #f7f7f7;	
	color: #5a4dad;
	}





.CalendarOtherMonthTodayFoggy a:link {
	color: #5a4dad;
	}

.CalendarOtherMonthTodayFoggy a:visited{
	color: #5a4dad;
	}

.CalendarOtherMonthTodayFoggy a:hover, .CalendarOtherMonthTodayFoggy a:active{
	color: #ff0000;
	}

/* Calendar Other Month's Weekend */
.CalendarOtherMonthWeekendFoggy {
	font-family: Arial; font-size: 80%;
	padding: 3px;
	
	text-align: center;
	background-color: #ebebeb;	
	color: #5a4dad;
	}





.CalendarOtherMonthWeekendFoggy a:link {
	color: #5a4dad;
	}

.CalendarOtherMonthWeekendFoggy a:visited{
	color: #5a4dad;
	}

.CalendarOtherMonthWeekendFoggy a:hover, .CalendarOtherMonthWeekendFoggy a:active{
	color: #ff0000;
	}

/* Calendar Other Month's Weekend Today */
.CalendarOtherMonthWeekendTodayFoggy {
	font-family: Arial; font-size: 80%;
	padding: 1px;
	border: 2px solid #5a4dad;
	text-align: center;
	color: #5a4dad;
	background-color: #ebebeb;	
	}
	




.CalendarOtherMonthWeekendTodayFoggy a:link {
	color: #5a4dad;
	}

.CalendarOtherMonthWeekendTodayFoggy a:visited{
	color: #5a4dad;
	}

.CalendarOtherMonthWeekendTodayFoggy a:hover, .CalendarOtherMonthWeekendTodayFoggy a:active{
	color: #ff0000;
	}

/* Calendar Selected Day (for DatePicker) */
.CalendarSelectedDayFoggy{
	font-family: Arial; font-size: 80%;
	padding: 3px;
	
	background-color: #cccccc;
	color: #000000;
	text-align: center;
	font-weight: bold;
	}
	




.CalendarSelectedDayFoggy a:link {
	color: #000000;
	}

.CalendarSelectedDayFoggy a:visited{
	color: #000000;
	}

.CalendarSelectedDayFoggy a:hover, .CalendarSelectedDayFoggy a:active{
	color: #ff0000;
	}

/* Calendar Navigator */
.CalendarNavigatorFoggy {
	font-family: Arial; font-size: 80%;
	padding: 3px;
	background-color: #cccccc; color: #000000;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	color: #000000;
	}





.CalendarNavigatorFoggy a:link {
	color: #0033cc;
	}

.CalendarNavigatorFoggy a:visited{
	color: #830083;
	}

.CalendarNavigatorFoggy a:hover, .CalendarNavigatorFoggy a:active{
	color: #ff0000;
	}

.CalendarNavigatorFoggy img{
	margin: 2px;
	vertical-align: middle; 	
	}

.CalendarNavigatorFoggy td {
	font-family: Arial; font-size: 80%;
	}

.CalendarNavigatorFoggy th {
	font-family: Arial; font-size: 80%;
	}





/* Calendar Extra */
.CalendarEventFoggy{
	font-family: Arial; font-size: 80%;
	text-align: left;
	}





.CalendarEventFoggy a:link {
	color: #0033cc;
	}

.CalendarEventFoggy a:visited{
	color: #830083;
	}

.CalendarEventFoggy a:hover, .CalendarEventFoggy a:active{
	color: #ff0000;
	}

/* Changes for Section508 */
table tr td strong {
	padding: 0px;
	margin: 0px;
}

.thFoggy { 
	font-family: Arial; font-size: 80%;
	font-weight: bold;
}





.HeaderFoggy .thFoggy { 
	font-family: Arial; font-size: 110%; font-weight: bold; text-align: left;
	padding: 3px;
	background-image: url('Images/HeaderBg.gif'); color: #ffffff;
	width: 100%;
	white-space: nowrap;
}





.CaptionFoggy .thFoggy { 
	font-family: Arial; font-size: 80%; text-align: left; vertical-align: top;
	padding: 3px;
	
	background-image: url('Images/CaptionBg.gif'); color: #000000;
	white-space: nowrap;
}





.RowFoggy .thFoggy { 
	font-family: Arial; font-size: 80%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 3px;
	
	background-color: #f7f7f7; color: #000000;
	white-space: nowrap;
	color: #000000;
}

.AltRowFoggy .thFoggy { 
	font-family: Arial; font-size: 80%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 3px;
	
	background-color: #f7f7f7; color: #000000;
	white-space: nowrap;
	color: #000000;
}

.ControlsFoggy .thFoggy { 
	font-family: Arial; font-size: 80%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 3px;
	
	background-color: #f7f7f7; color: #000000;
	white-space: nowrap;
	color: #000000;
}

.GroupCaptionFoggy .thFoggy {
	font-family: Arial; font-size: 80%;
	padding: 3px;
	
	text-align: left;
	white-space: nowrap;
	vertical-align: top;
	font-weight: bold;
	background-color: #ebebeb; 
	color: #000000;
}





/* Class for Application Builder Menu */
.simpleMenuFoggy td {
	font-family: Arial; font-size: 80%;
}




