/* CCSTheme v 3.x */
/* General */

/* Colors */
.PageBgColor {
	background-color: #e6decf;
	}

.FormTitleBgColor {
	background-color: #3d84cc;
	}

.FormTitleFontColor {
	color: #ffffff;
	}

.CaptionBgColor {
	background-color: #ffe3b0;
	}

.CaptionFontColor {
	color: #000000;
	}

.DataBgColor {
	background-color: #f7f7f7;
	}

.AltDataBgColor {
	background-color: #fff6e6;
	}

.DataFontColor {
	color: #000000;
	}

.LinkColor {
	color: #0033cc;
	}

.VisitedLinkColor {
	color: #830000;
	}

.HoverLinkColor {
	color: #ff0000;
	}


/* BEGIN Common */
body { 
	
	font-family: Arial; font-size: 80%;
	}





.text { 
	color: #000000
	}

a.menulink:link, a.menulink:visited { 
	color: #0033cc;
	}

a.menulink:hover, a.menulink:active { 
	color: #ff0000;
	}


a:link { 
	color: #0033cc;
	}

a:visited { 
	color: #830000;
	}

a:hover,a:active { 
	color: #ff0000;
	}

ul, ol, blockquote { 
	margin-top: 5px; 
	margin-bottom: 10px; 
	margin-left: 20px; 
	}

form {
	margin: 0px;
	}

h1	{
	font-size: 150%;
	margin-top: 5px; 
	margin-bottom: 5px;
	}

h2	{ 
	font-size: 130%;
	margin-top: 15px; 
	margin-bottom: 5px; 
	}

h3	{ 
	font-size: 110%; font-style: italic;
	margin-top: 15px; 
	margin-bottom: 5px; 
	}

h4	{ 
	font-size: 100%;
	margin-top: 15px; 
	margin-bottom: 5px; 
	}

h5	{ 
	font-size: 100%; font-style: italic;
	margin-top: 15px; 
	margin-bottom: 5px; 
	}

h6	{ 
	font-size: 90%;
	margin-top: 15px; 
	margin-bottom: 5px; 
	}

th	{ 
	font-family: Arial; font-size: 80%;
	text-align: left;
	}

td { 
	font-family: Arial; font-size: 80%;
	text-align: left;
	}

/*input, textarea, select {
	font-family: Arial; font-size: 80%;
	font-size: 100%;
}

html>body input, html>body select, html>body textarea {
	font-family: Arial; font-size: 80%;
	font-size: inherit;
}*/

/* END Common */

.Header {
	width: 100%;
	}

.Header th { 
	font-size: 110%; font-weight: bold; text-align: left;
	padding: 2px;
	background-image: url('Images/HeaderBg.gif'); color: #ffffff;
	width: 100%;
	white-space: nowrap;
	}





.Header a:link { 
	color: #ffffff;
	}

.Header a:visited { 
	color: #ffffff;
	}

.Header a:hover, .Caption a:active { 
	color: #ffffff; text-decoration: none;
	}

.HeaderLeft { 
	background-image: url('Images/HeaderLeft.gif');
	}

.HeaderRight { 
	background-image: url('Images/HeaderRight.gif');
	background-position: right top;
	}

.HeaderLeft img{
	width: 7px;
	}

.HeaderRight img{
	width: 14px;
	}


/* Grid Options */
.Grid { 
	border: 1px solid #3d84cc;
	width: 100%;
	}

.Caption th { 
	font-size: 80%; 	text-align: left; vertical-align: top;
	padding: 2px;
	border-top: 1px solid #ffe3b0; border-right: 1px solid #ffe3b0;
	background-image: url('Images/CaptionBg.gif'); color: #000000;
	white-space: nowrap;
	}

.Caption td { 
	font-size: 80%; 	text-align: left; vertical-align: top;
	padding: 2px;
	border-top: 1px solid #ffe3b0; border-right: 1px solid #ffe3b0;
	background-image: url('Images/CaptionBg.gif'); color: #000000;
	white-space: nowrap;
	}





.Caption a:link { 
	color: #000000;
	}

.Caption a:visited { 
	color: #000000;
	}

.Caption a:hover, .Caption a:active { 
	color: #ff0000;
	}

.Caption img {
	margin: 2px; 
	vertical-align: middle;
	}

.Caption input {
	vertical-align: middle;
	}

.Row th { 
	font-size: 80%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 2px;
	border-top: 1px solid #ffe3b0; border-right: 1px solid #ffe3b0;
	background-color: #f7f7f7; color: #000000;
	white-space: nowrap;
	color: #000000;
	}

.Row td { 
	font-size: 80%;
	padding: 2px;
	border-top: 1px solid #ffe3b0; border-right: 1px solid #ffe3b0;
	text-align: left;
	vertical-align: top;
	background-color: #f7f7f7; 
	color: #000000;
	}
	




caption.Row { 
	font-size: 80%;
	padding: 2px;
	border: 1px solid #3d84cc; border-bottom: 0px;
	text-align: left;
	vertical-align: top;
	background-color: #f7f7f7; 
	color: #000000;
	}





.Row a:link { 
	color: #0033cc;
	}

.Row a:visited { 
	color: #830000;
	}

.Row a:hover, .Row a:active { 
	color: #ff0000;
	}

.Separator{
	color: #3d84cc;
	}

.Separator td{
	height: 1px;
	}


.AltRow th { 
	font-size: 80%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 2px;
	border-top: 1px solid #ffe3b0; border-right: 1px solid #ffe3b0;
	background-color: #f7f7f7; color: #000000;
	white-space: nowrap;
	color: #000000;
	}

.AltRow td { 
	font-size: 80%;
	padding: 2px;
	border-top: 1px solid #ffe3b0; border-right: 1px solid #ffe3b0;
	text-align: left;
	vertical-align: top;
	background-color: #fff6e6; 
	color: #000000;
	}





.AltRow a:link { 
	color: #0033cc;
	}

.AltRow a:visited { 
	color: #830000;
	}

.AltRow a:hover, .AltRow a:active { 
	color: #ff0000;
	}

.NoRecords td { 
	font-size: 80%;
	padding: 2px;
	border-top: 1px solid #ffe3b0; border-right: 1px solid #ffe3b0;
	text-align: left;
	background-color: #f7f7f7; 
	color: #000000;
	vertical-align: top;
	}

.Footer td { 
	font-size: 80%;
	padding: 2px;
	border: 1px solid #ffe3b0; border-left: 0px none;
	background-image: url('Images/CaptionBg.gif'); color: #000000;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	color: #000000;
	}





.Footer a:link { 
	color: #0033cc;
	}

.Footer a:visited { 
	color: #830000;
	}

.Footer a:hover, .Footer a:active { 
	color: #ff0000;
	}

.Footer img {
	margin: 2px; 
	vertical-align: middle;
	}

.Footer input {
	margin: 2px;
	vertical-align: middle;
	}

/* Record Options */
.Record { 
	border: 1px solid #3d84cc;
	width: 100%;
	}

.Error td { 
	font-size: 80%;
	padding: 2px;
	border-top: 1px solid #ffe3b0; border-right: 1px solid #ffe3b0;
	text-align: left;
	color: #FF0000;
	vertical-align: top;
	background-color: #f7f7f7; 
	}





.Controls th { 
	font-size: 80%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 2px;
	border-top: 1px solid #ffe3b0; border-right: 1px solid #ffe3b0;
	background-color: #f7f7f7; color: #000000;
	white-space: nowrap;
	color: #000000;
	}

.Controls td { 
	font-size: 80%;
	padding: 2px;
	border-top: 1px solid #ffe3b0; border-right: 1px solid #ffe3b0;
	text-align: left;
	vertical-align: top;
	background-color: #f7f7f7; 
	color: #000000;
	}
	
.Bottom td { 
	font-size: 80%;
	padding: 2px;
	border: 1px solid #ffe3b0; border-left: 0px none;
	background-image: url('Images/CaptionBg.gif'); color: #000000;
	text-align: right;
	vertical-align: middle;
	white-space: nowrap;
	color: #000000;
	}





.Bottom a:link { 
	color: #0033cc;
	}

.Bottom a:visited { 
	color: #830000;
	}

.Bottom a:hover, .Caption a:active { 
	color: #ff0000;
	}

.Bottom img {
	margin: 2px;
	vertical-align: middle; 
	}

.Bottom input {
	margin: 2px;
	vertical-align: middle;
	}

/* Report */
.GroupCaption th{
	font-size: 80%;
	padding: 2px;
	border-top: 1px solid #ffe3b0; border-right: 1px solid #ffe3b0;
	white-space: nowrap;
	text-align: left;
	vertical-align: top;
	font-weight: bold;
	background-color: #fff6e6; 
	color: #000000;
	}

.GroupCaption td{
	font-size: 80%;
	padding: 2px;
	border-top: 1px solid #ffe3b0; border-right: 1px solid #ffe3b0;
	text-align: left;
	vertical-align: top;
	font-weight: bold;
	background-color: #f7f7f7; 
	color: #000000;
	}





.GroupCaption a:link {
	color: #000000;
	}

.GroupCaption a:visited{
	color: #000000;
	}

.GroupCaption a:hover, .GroupCaption a:active{
	color: #ff0000;
	}

.GroupFooter td{
	font-size: 80%;
	padding: 2px;
	border: 1px solid #ffe3b0; border-left: 0px none;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	background-color: #ffe3b0; 
	color: #000000;
	}





.GroupFooter a:link {
	color: #0033cc;
	}

.GroupFooter a:visited{
	color: #830000;
	}

.GroupFooter a:hover,.GroupFooter a:active{
	color: #ff0000;
	}

.GroupFooter img {
	margin: 2px; 
	vertical-align: middle;
	}

.GroupFooter input {
	margin: 2px;
	vertical-align: middle;
	}

.SubTotal td{
	font-size: 80%;
	padding: 2px;
	border-top: 1px solid #ffe3b0; border-right: 1px solid #ffe3b0;
	text-align: left;
	vertical-align: top;
	font-weight: bold;
	background-color: #fff6e6; 
	color: #000000;
	border-bottom: 2px solid #3d84cc;
	}





.SubTotal a:link {
	color: #0033cc;
	}

.SubTotal a:visited{
	color: #830000;
	}

.SubTotal a:hover, .SubTotal a:active{
	color: #ff0000;
	}

.Total td{
	font-size: 80%;
	padding: 2px;
	border-top: 1px solid #ffe3b0; border-right: 1px solid #ffe3b0;
	text-align: left;
	vertical-align: top;
	white-space: nowrap;
	font-weight: bold;
	background-color: #fff6e6; 
	color: #000000;
	}





.Total a:link {
	color: #0033cc;
	}

.Total a:visited{
	color: #830000;
	}

.Total a:hover, .Total a:active{
	color: #ff0000;
	}

/* Form Options */
.Button { 
	background-color: #3d84cc; color: #ffffff; border-left: solid 1px #EDEDED; border-top: solid 1px #EDEDED; border-right: solid 1px #848284; border-bottom: solid 1px #848284; padding: 2px; font-weight: bold; font-size: 85%; font-family: Tahoma;
	}

/* Calendar */

.Calendar { 
	border: 1px solid #3d84cc;
	width: 100%;
	}

.CalendarWeekdayName{
	font-size: 80%;
	padding: 2px;
	border-top: 1px solid #ffe3b0; border-right: 1px solid #ffe3b0;
	text-align: center; 
	vertical-align: top;
	white-space: nowrap;
	background-color: #fff6e6; 
	color: #000000;
	font-weight: normal;
	}





.CalendarWeekdayName a:link {
	color: #0033cc;
	}

.CalendarWeekdayName a:visited{
	color: #830000;
	}

.CalendarWeekdayName a:hover, .CalendarWeekdayName a:active{
	color: #ff0000;
	}

.CalendarWeekendName{
	font-size: 80%;
	padding: 2px;
	border-top: 1px solid #ffe3b0; border-right: 1px solid #ffe3b0;
	white-space: nowrap;
	text-align: center; 
	vertical-align: top;
	background-color: #fff6e6;	
	color: #000000;
	font-weight: normal;
	}





.CalendarWeekendName a:link {
	color: #000000;
	}

.CalendarWeekendName a:visited{
	color: #000000;
	}

.CalendarWeekendName a:link, .CalendarWeekendName a:visited{
	color: #ff0000;
	}

/* Calendar Day */
.CalendarDay{
	font-size: 80%;
	padding: 2px;
	border-top: 1px solid #ffe3b0; border-right: 1px solid #ffe3b0;
	text-align: center;
	background-color: #f7f7f7;	
	color: #000000;
	}





.CalendarDay a:link {
	color: #0033cc;
	}

.CalendarDay a:visited{
	color: #830000;
	}

.CalendarDay a:hover, .CalendarDay a:active{
	color: #ff0000;
	}

/* Calendar Weekend */
.CalendarWeekend{
	font-size: 80%;
	padding: 2px;
	border-top: 1px solid #ffe3b0; border-right: 1px solid #ffe3b0;
	text-align: center;
	background-color: #fff6e6;	
	color: #000000;
	}





.CalendarWeekend a:link {
	color: #0033cc;
	}

.CalendarWeekend a:visited{
	color: #830000;
	}

.CalendarWeekend a:hover, .CalendarWeekend a:active{
	color: #ff0000;
	}

/* Calendar Today */
.CalendarToday {
	font-size: 80%;
	padding: 0px;
	border: 2px solid #3d84cc;
	text-align: center;
	background-color: #f7f7f7;	
	color: #000000;
	}





.CalendarToday a:link {
	color: #0033cc;
	}

.CalendarToday a:visited{
	color: #830000;
	}

.CalendarToday a:hover, .CalendarToday a:active {
	color: #ff0000;
	}

/* Calendar Weekend Today */
.CalendarWeekendToday {
	font-size: 80%;
	padding: 0px;
	border: 2px solid #3d84cc;
	text-align: center;
	background-color: #fff6e6;	
	color: #000000;
	}





.CalendarWeekendToday a:link {
	color: #0033cc;
	}

.CalendarWeekendToday a:visited{
	color: #830000;
	}

.CalendarWeekendToday a:hover, .CalendarWeekendToday a:active{
	color: #ff0000;
	}

/* Calendar Other Month's Day */
.CalendarOtherMonthDay{
	font-size: 80%;
	padding: 2px;
	border-top: 1px solid #ffe3b0; border-right: 1px solid #ffe3b0;
	text-align: center;
	background-color: #f7f7f7;	
	color: #3d84cc;
	}





.CalendarOtherMonthDay a:link {
	color: #3d84cc;
	}

.CalendarOtherMonthDay a:visited{
	color: #3d84cc;
	}

.CalendarOtherMonthDay a:hover, .CalendarOtherMonthDay a:active{
	color: #ff0000;
	}

/* Calendar Other Month's Today */
.CalendarOtherMonthToday {
	font-size: 80%;
	padding: 0px;
	border: 2px solid #3d84cc;
	text-align: center;
	background-color: #f7f7f7;	
	color: #3d84cc;
	}





.CalendarOtherMonthToday a:link {
	color: #3d84cc;
	}

.CalendarOtherMonthToday a:visited{
	color: #3d84cc;
	}

.CalendarOtherMonthToday a:hover,.CalendarOtherMonthToday a:active{
	color: #ff0000;
	}

/* Calendar Other Month's Weekend */
.CalendarOtherMonthWeekend {
	font-size: 80%;
	padding: 2px;
	border-top: 1px solid #ffe3b0; border-right: 1px solid #ffe3b0;
	text-align: center;
	background-color: #fff6e6;	
	color: #3d84cc;
	}





.CalendarOtherMonthWeekend a:link {
	color: #3d84cc;
	}

.CalendarOtherMonthWeekend a:visited{
	color: #3d84cc;
	}

.CalendarOtherMonthWeekend a:hover, .CalendarOtherMonthWeekend a:active{
	color: #ff0000;
	}

/* Calendar Other Month's Weekend Today */
.CalendarOtherMonthWeekendToday {
	font-size: 80%;
	padding: 0px;
	border: 2px solid #3d84cc;
	text-align: center;
	color: #3d84cc;
	background-color: #fff6e6;	
	}
	




.CalendarOtherMonthWeekendToday a:link {
	color: #3d84cc;
	}

.CalendarOtherMonthWeekendToday a:visited{
	color: #3d84cc;
	}

.CalendarOtherMonthWeekendToday a:hover, .CalendarOtherMonthWeekendToday a:active{
	color: #ff0000;
	}

/* Calendar Selected Day (for DatePicker) */
.CalendarSelectedDay{
	font-size: 80%;
	padding: 2px;
	border-top: 1px solid #ffe3b0; border-right: 1px solid #ffe3b0;
	background-color: #ffe3b0;
	color: #000000;
	text-align: center;
	font-weight: bold;
	}
	




.CalendarSelectedDay a:link {
	color: #000000;
	}

.CalendarSelectedDay a:visited{
	color: #000000;
	}

.CalendarSelectedDay a:hover, .CalendarSelectedDay a:active{
	color: #ff0000;
	}

/* Calendar Navigator */
.CalendarNavigator {
	font-size: 80%;
	padding: 2px;
	background-image: url('Images/CaptionBg.gif'); color: #000000;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	color: #000000;
	}





.CalendarNavigator a:link {
	color: #0033cc;
	}

.CalendarNavigator a:visited{
	color: #830000;
	}

.CalendarNavigator a:hover, .CalendarNavigator a:active{
	color: #ff0000;
	}

.CalendarNavigator img{
	margin: 2px;
	vertical-align: middle; 	
	}

.CalendarNavigator td {
	font-size: 80%;
	}

.CalendarNavigator th {
	font-size: 80%;
	}





/* Calendar Extra */
.CalendarEvent{
	font-size: 80%;
	text-align: left;
	}





.CalendarEvent a:link {
	color: #0033cc;
	}

.CalendarEvent a:visited{
	color: #830000;
	}

.CalendarEvent a:hover, .CalendarEvent a:active{
	color: #ff0000;
	}

/* Changes for Section508 */
table tr td strong {
	padding: 0px;
	margin: 0px;
}

.th { 
	font-family: Arial; font-size: 80%;
	font-weight: bold;
}





.Header .th { 
	font-size: 110%; font-weight: bold; text-align: left;
	padding: 2px;
	background-image: url('Images/HeaderBg.gif'); color: #ffffff;
	width: 100%;
	white-space: nowrap;
}





.Caption .th { 
	font-size: 80%; 	text-align: left; vertical-align: top;
	padding: 2px;
	border-top: 1px solid #ffe3b0; border-right: 1px solid #ffe3b0;
	background-image: url('Images/CaptionBg.gif'); color: #000000;
	white-space: nowrap;
}





.Row .th { 
	font-size: 80%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 2px;
	border-top: 1px solid #ffe3b0; border-right: 1px solid #ffe3b0;
	background-color: #f7f7f7; color: #000000;
	white-space: nowrap;
	color: #000000;
}

.AltRow .th { 
	font-size: 80%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 2px;
	border-top: 1px solid #ffe3b0; border-right: 1px solid #ffe3b0;
	background-color: #f7f7f7; color: #000000;
	white-space: nowrap;
	color: #000000;
}

.Controls .th { 
	font-size: 80%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 2px;
	border-top: 1px solid #ffe3b0; border-right: 1px solid #ffe3b0;
	background-color: #f7f7f7; color: #000000;
	white-space: nowrap;
	color: #000000;
}

.GroupCaption .th {
	font-size: 80%;
	padding: 2px;
	border-top: 1px solid #ffe3b0; border-right: 1px solid #ffe3b0;
	text-align: left;
	white-space: nowrap;
	vertical-align: top;
	font-weight: bold;
	background-color: #fff6e6; 
	color: #000000;
}





/* Class for Application Builder Menu */
.simpleMenu td {
	font-size: 80%;
}




