/* CCSTheme v 3.x */
/* General */

/* Colors */
.PageBgColor {
	background-color: #dce1cd;
	}

.FormTitleBgColor {
	background-color: #b543a7;
	}

.FormTitleFontColor {
	color: #fcfcfc;
	}

.CaptionBgColor {
	background-color: #d3dbb6;
	}

.CaptionFontColor {
	color: #000000;
	}

.DataBgColor {
	background-color: #f4f4f4;
	}

.AltDataBgColor {
	background-color: #f1f4e5;
	}

.DataFontColor {
	color: #000000;
	}

.LinkColor {
	color: #1d47c5;
	}

.VisitedLinkColor {
	color: #801380;
	}

.HoverLinkColor {
	color: #f72525;
	}


/* BEGIN Common */
body { 
	
	font-family: Arial; font-size: 70%;
	}


html>body {
	font-family: Arial; font-size: 70%;
}

html>body td, html>body th, html>body table {
	font-size: 100%;
}




.text { 
	color: #000000
	}

a.menulink:link, a.menulink:visited { 
	color: #1d47c5;
	}

a.menulink:hover, a.menulink:active { 
	color: #f72525;
	}


a:link { 
	color: #1d47c5;
	}

a:visited { 
	color: #801380;
	}

a:hover,a:active { 
	color: #f72525;
	}

ul, ol, blockquote { 
	margin-top: 5px; 
	margin-bottom: 10px; 
	margin-left: 20px; 
	}

form {
	margin: 0px;
	}

h1	{
	font-size: 140%;
	margin-top: 5px; 
	margin-bottom: 5px;
	}

h2	{ 
	font-size: 120%;
	margin-top: 15px; 
	margin-bottom: 5px; 
	}

h3	{ 
	font-size: 100%; font-style: italic;
	margin-top: 15px; 
	margin-bottom: 5px; 
	}

h4	{ 
	font-size: 90%;
	margin-top: 15px; 
	margin-bottom: 5px; 
	}

h5	{ 
	font-size: 95%; font-style: italic;
	margin-top: 15px; 
	margin-bottom: 5px; 
	}

h6	{ 
	font-size: 80%;
	margin-top: 15px; 
	margin-bottom: 5px; 
	}

th	{ 
	font-family: Arial; font-size: 70%;
	text-align: left;
	}

td { 
	font-family: Arial; font-size: 70%;
	text-align: left;
	}

/*input, textarea, select {
	font-family: Arial; font-size: 70%;
	font-size: 100%;
}

html>body input, html>body select, html>body textarea {
	font-family: Arial; font-size: 70%;
	font-size: inherit;
}*/

/* END Common */

.Header {
	width: 170px;
	}

.Header th { 
	font-size: 90%; text-align: left;
	padding: 4px;
	background-color: #b543a7; color: #fcfcfc;
	width: 100%;
	white-space: nowrap;
	}


html>body .Header th {
	font-size: 130%; text-align: left;
}




.Header a:link { 
	color: #fcfcfc;
	}

.Header a:visited { 
	color: #fcfcfc;
	}

.Header a:hover, .Caption a:active { 
	color: #fcfcfc; text-decoration: none;
	}

.HeaderLeft { 
	background-image: url('Images/HeaderLeft.gif');
	}

.HeaderRight { 
	background-image: url('Images/HeaderRight.gif');
	background-position: right top;
	}

.HeaderLeft img{
	width: 7px;
	}

.HeaderRight img{
	width: 14px;
	}


/* Grid Options */
.Grid { 
	
	width: 100%;
	}

.Caption th { 
	font-size: 70%; text-align: left; vertical-align: top;
	padding: 4px;
	border-bottom: solid 2px #FFFFFF;
	background-color: #d3dbb6; color: #000000;
	white-space: nowrap;
	}

.Caption td { 
	font-size: 70%; text-align: left; vertical-align: top;
	padding: 4px;
	border-bottom: solid 2px #FFFFFF;
	background-color: #d3dbb6; color: #000000;
	white-space: nowrap;
	}


html>body .Caption th, html>body .Caption td {
	font-size: 100%; text-align: left; vertical-align: top;
}




.Caption a:link { 
	color: #000000;
	}

.Caption a:visited { 
	color: #000000;
	}

.Caption a:hover, .Caption a:active { 
	color: #f72525;
	}

.Caption img {
	margin: 2px; 
	vertical-align: middle;
	}

.Caption input {
	vertical-align: middle;
	}

.Row th { 
	font-size: 70%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 4px;
	border-bottom: solid 2px #FFFFFF;
	background-color: #f4f4f4; color: #000000;
	white-space: nowrap;
	color: #000000;
	}

.Row td { 
	font-size: 70%;
	padding: 4px;
	border-bottom: solid 2px #FFFFFF;
	text-align: left;
	vertical-align: top;
	background-color: #f4f4f4; 
	color: #000000;
	}
	

html>body .Row th, html>body .Row td {
	font-size: 100%;
}




caption.Row { 
	font-size: 70%;
	padding: 4px;
	border-bottom: solid 2px #FFFFFF;
	text-align: left;
	vertical-align: top;
	background-color: #f4f4f4; 
	color: #000000;
	}


html>body caption.Row {
	font-size: 100%;
}




.Row a:link { 
	color: #1d47c5;
	}

.Row a:visited { 
	color: #801380;
	}

.Row a:hover, .Row a:active { 
	color: #f72525;
	}

.Separator{
	color: #b543a7;
	}

.Separator td{
	height: 1px;
	}


.AltRow th { 
	font-size: 70%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 4px;
	border-bottom: solid 2px #FFFFFF;
	background-color: #f4f4f4; color: #000000;
	white-space: nowrap;
	color: #000000;
	}

.AltRow td { 
	font-size: 70%;
	padding: 4px;
	border-bottom: solid 2px #FFFFFF;
	text-align: left;
	vertical-align: top;
	background-color: #f1f4e5; 
	color: #000000;
	}


html>body .AltRow th, html>body .AltRow td {
	font-size: 100%;
}




.AltRow a:link { 
	color: #1d47c5;
	}

.AltRow a:visited { 
	color: #801380;
	}

.AltRow a:hover, .AltRow a:active { 
	color: #f72525;
	}

.NoRecords td { 
	font-size: 70%;
	padding: 4px;
	border-bottom: solid 2px #FFFFFF;
	text-align: left;
	background-color: #f4f4f4; 
	color: #000000;
	vertical-align: top;
	}

.Footer td { 
	font-size: 70%;
	padding: 4px;
	
	background-color: #d3dbb6; color: #000000;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	color: #000000;
	}


html>body .NoRecords td, html>body .Footer td {
	font-size: 100%;
}




.Footer a:link { 
	color: #1d47c5;
	}

.Footer a:visited { 
	color: #801380;
	}

.Footer a:hover, .Footer a:active { 
	color: #f72525;
	}

.Footer img {
	margin: 2px; 
	vertical-align: middle;
	}

.Footer input {
	margin: 2px;
	vertical-align: middle;
	}

/* Record Options */
.Record { 
	
	width: 100%;
	}

.Error td { 
	font-size: 70%;
	padding: 4px;
	border-bottom: solid 2px #FFFFFF;
	text-align: left;
	color: #FF0000;
	vertical-align: top;
	background-color: #f4f4f4; 
	}


html>body .Error td {
	font-size: 100%;
}




.Controls th { 
	font-size: 70%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 4px;
	border-bottom: solid 2px #FFFFFF;
	background-color: #f4f4f4; color: #000000;
	white-space: nowrap;
	color: #000000;
	}

.Controls td { 
	font-size: 70%;
	padding: 4px;
	border-bottom: solid 2px #FFFFFF;
	text-align: left;
	vertical-align: top;
	background-color: #f4f4f4; 
	color: #000000;
	}
	
.Bottom td { 
	font-size: 70%;
	padding: 4px;
	
	background-color: #d3dbb6; color: #000000;
	text-align: right;
	vertical-align: middle;
	white-space: nowrap;
	color: #000000;
	}


html>body .Controls th, html>body .Controls td, html>body .Bottom td {
	font-size: 100%;
}




.Bottom a:link { 
	color: #1d47c5;
	}

.Bottom a:visited { 
	color: #801380;
	}

.Bottom a:hover, .Caption a:active { 
	color: #f72525;
	}

.Bottom img {
	margin: 2px;
	vertical-align: middle; 
	}

.Bottom input {
	margin: 2px;
	vertical-align: middle;
	}

/* Report */
.GroupCaption th{
	font-size: 70%;
	padding: 4px;
	border-bottom: solid 2px #FFFFFF;
	white-space: nowrap;
	text-align: left;
	vertical-align: top;
	font-weight: bold;
	background-color: #f1f4e5; 
	color: #000000;
	}

.GroupCaption td{
	font-size: 70%;
	padding: 4px;
	border-bottom: solid 2px #FFFFFF;
	text-align: left;
	vertical-align: top;
	font-weight: bold;
	background-color: #f4f4f4; 
	color: #000000;
	}


html>body .GroupCaption th, html>body .GroupCaption td {
	font-size: 100%;
}




.GroupCaption a:link {
	color: #000000;
	}

.GroupCaption a:visited{
	color: #000000;
	}

.GroupCaption a:hover, .GroupCaption a:active{
	color: #f72525;
	}

.GroupFooter td{
	font-size: 70%;
	padding: 4px;
	
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	background-color: #d3dbb6; 
	color: #000000;
	}


html>body .GroupFooter td {
	font-size: 100%;
}




.GroupFooter a:link {
	color: #1d47c5;
	}

.GroupFooter a:visited{
	color: #801380;
	}

.GroupFooter a:hover,.GroupFooter a:active{
	color: #f72525;
	}

.GroupFooter img {
	margin: 2px; 
	vertical-align: middle;
	}

.GroupFooter input {
	margin: 2px;
	vertical-align: middle;
	}

.SubTotal td{
	font-size: 70%;
	padding: 4px;
	border-bottom: solid 2px #FFFFFF;
	text-align: left;
	vertical-align: top;
	font-weight: bold;
	background-color: #f1f4e5; 
	color: #000000;
	border-bottom: 2px solid #b543a7;
	}


html>body .SubTotal td {
	font-size: 100%;
}




.SubTotal a:link {
	color: #1d47c5;
	}

.SubTotal a:visited{
	color: #801380;
	}

.SubTotal a:hover, .SubTotal a:active{
	color: #f72525;
	}

.Total td{
	font-size: 70%;
	padding: 4px;
	border-bottom: solid 2px #FFFFFF;
	text-align: left;
	vertical-align: top;
	white-space: nowrap;
	font-weight: bold;
	background-color: #f1f4e5; 
	color: #000000;
	}


html>body .Total td {
	font-size: 100%;
}




.Total a:link {
	color: #1d47c5;
	}

.Total a:visited{
	color: #801380;
	}

.Total a:hover, .Total a:active{
	color: #f72525;
	}

/* Form Options */
.Button { 
	background-color: #b543a7; color: #fcfcfc; border-left: solid 1px #EDEDED; border-top: solid 1px #EDEDED; border-right: solid 1px #848284; border-bottom: solid 1px #848284; padding: 2px; font-weight: bold; font-size: 85%; font-family: Tahoma;
	}

/* Calendar */

.Calendar { 
	
	width: 100%;
	}

.CalendarWeekdayName{
	font-size: 70%;
	padding: 4px;
	border-bottom: solid 2px #FFFFFF;
	text-align: center; 
	vertical-align: top;
	white-space: nowrap;
	background-color: #f1f4e5; 
	color: #000000;
	font-weight: normal;
	}


html>body .CalendarWeekdayName {
	font-size: 100%;
}




.CalendarWeekdayName a:link {
	color: #1d47c5;
	}

.CalendarWeekdayName a:visited{
	color: #801380;
	}

.CalendarWeekdayName a:hover, .CalendarWeekdayName a:active{
	color: #f72525;
	}

.CalendarWeekendName{
	font-size: 70%;
	padding: 4px;
	border-bottom: solid 2px #FFFFFF;
	white-space: nowrap;
	text-align: center; 
	vertical-align: top;
	background-color: #f1f4e5;	
	color: #000000;
	font-weight: normal;
	}


html>body .CalendarWeekendName {
	font-size: 100%;
}




.CalendarWeekendName a:link {
	color: #000000;
	}

.CalendarWeekendName a:visited{
	color: #000000;
	}

.CalendarWeekendName a:link, .CalendarWeekendName a:visited{
	color: #f72525;
	}

/* Calendar Day */
.CalendarDay{
	font-size: 70%;
	padding: 4px;
	border-bottom: solid 2px #FFFFFF;
	text-align: center;
	background-color: #f4f4f4;	
	color: #000000;
	}


html>body .CalendarDay {
	font-size: 100%;
}




.CalendarDay a:link {
	color: #1d47c5;
	}

.CalendarDay a:visited{
	color: #801380;
	}

.CalendarDay a:hover, .CalendarDay a:active{
	color: #f72525;
	}

/* Calendar Weekend */
.CalendarWeekend{
	font-size: 70%;
	padding: 4px;
	border-bottom: solid 2px #FFFFFF;
	text-align: center;
	background-color: #f1f4e5;	
	color: #000000;
	}


html>body .CalendarWeekend {
	font-size: 100%;
}




.CalendarWeekend a:link {
	color: #1d47c5;
	}

.CalendarWeekend a:visited{
	color: #801380;
	}

.CalendarWeekend a:hover, .CalendarWeekend a:active{
	color: #f72525;
	}

/* Calendar Today */
.CalendarToday {
	font-size: 70%;
	padding: 2px;
	border: 2px solid #b543a7;
	text-align: center;
	background-color: #f4f4f4;	
	color: #000000;
	}


html>body .CalendarToday {
	font-size: 100%;
}




.CalendarToday a:link {
	color: #1d47c5;
	}

.CalendarToday a:visited{
	color: #801380;
	}

.CalendarToday a:hover, .CalendarToday a:active {
	color: #f72525;
	}

/* Calendar Weekend Today */
.CalendarWeekendToday {
	font-size: 70%;
	padding: 2px;
	border: 2px solid #b543a7;
	text-align: center;
	background-color: #f1f4e5;	
	color: #000000;
	}


html>body .CalendarWeekendToday {
	font-size: 100%;
}




.CalendarWeekendToday a:link {
	color: #1d47c5;
	}

.CalendarWeekendToday a:visited{
	color: #801380;
	}

.CalendarWeekendToday a:hover, .CalendarWeekendToday a:active{
	color: #f72525;
	}

/* Calendar Other Month's Day */
.CalendarOtherMonthDay{
	font-size: 70%;
	padding: 4px;
	border-bottom: solid 2px #FFFFFF;
	text-align: center;
	background-color: #f4f4f4;	
	color: #b543a7;
	}


html>body .CalendarOtherMonthDay {
	font-size: 100%;
}




.CalendarOtherMonthDay a:link {
	color: #b543a7;
	}

.CalendarOtherMonthDay a:visited{
	color: #b543a7;
	}

.CalendarOtherMonthDay a:hover, .CalendarOtherMonthDay a:active{
	color: #f72525;
	}

/* Calendar Other Month's Today */
.CalendarOtherMonthToday {
	font-size: 70%;
	padding: 2px;
	border: 2px solid #b543a7;
	text-align: center;
	background-color: #f4f4f4;	
	color: #b543a7;
	}


html>body .CalendarOtherMonthToday {
	font-size: 100%;
}




.CalendarOtherMonthToday a:link {
	color: #b543a7;
	}

.CalendarOtherMonthToday a:visited{
	color: #b543a7;
	}

.CalendarOtherMonthToday a:hover,.CalendarOtherMonthToday a:active{
	color: #f72525;
	}

/* Calendar Other Month's Weekend */
.CalendarOtherMonthWeekend {
	font-size: 70%;
	padding: 4px;
	border-bottom: solid 2px #FFFFFF;
	text-align: center;
	background-color: #f1f4e5;	
	color: #b543a7;
	}


html>body .CalendarOtherMonthWeekend {
	font-size: 100%;
}




.CalendarOtherMonthWeekend a:link {
	color: #b543a7;
	}

.CalendarOtherMonthWeekend a:visited{
	color: #b543a7;
	}

.CalendarOtherMonthWeekend a:hover, .CalendarOtherMonthWeekend a:active{
	color: #f72525;
	}

/* Calendar Other Month's Weekend Today */
.CalendarOtherMonthWeekendToday {
	font-size: 70%;
	padding: 2px;
	border: 2px solid #b543a7;
	text-align: center;
	color: #b543a7;
	background-color: #f1f4e5;	
	}
	

html>body .CalendarOtherMonthWeekendToday {
	font-size: 100%;
}




.CalendarOtherMonthWeekendToday a:link {
	color: #b543a7;
	}

.CalendarOtherMonthWeekendToday a:visited{
	color: #b543a7;
	}

.CalendarOtherMonthWeekendToday a:hover, .CalendarOtherMonthWeekendToday a:active{
	color: #f72525;
	}

/* Calendar Selected Day (for DatePicker) */
.CalendarSelectedDay{
	font-size: 70%;
	padding: 4px;
	border-bottom: solid 2px #FFFFFF;
	background-color: #d3dbb6;
	color: #000000;
	text-align: center;
	font-weight: bold;
	}
	

html>body .CalendarSelectedDay {
	font-size: 100%;
}




.CalendarSelectedDay a:link {
	color: #000000;
	}

.CalendarSelectedDay a:visited{
	color: #000000;
	}

.CalendarSelectedDay a:hover, .CalendarSelectedDay a:active{
	color: #f72525;
	}

/* Calendar Navigator */
.CalendarNavigator {
	font-size: 70%;
	padding: 4px;
	background-color: #d3dbb6; color: #000000;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	color: #000000;
	}


html>body .CalendarNavigator {
	font-size: 100%;
}




.CalendarNavigator a:link {
	color: #1d47c5;
	}

.CalendarNavigator a:visited{
	color: #801380;
	}

.CalendarNavigator a:hover, .CalendarNavigator a:active{
	color: #f72525;
	}

.CalendarNavigator img{
	margin: 2px;
	vertical-align: middle; 	
	}

.CalendarNavigator td {
	font-size: 70%;
	}

.CalendarNavigator th {
	font-size: 70%;
	}


html>body .CalendarNavigator th, html>body .CalendarNavigator td {
	font-size: 100%;
}




/* Calendar Extra */
.CalendarEvent{
	font-size: 70%;
	text-align: left;
	}


html>body .CalendarEvent {
	font-size: 100%;
}




.CalendarEvent a:link {
	color: #1d47c5;
	}

.CalendarEvent a:visited{
	color: #801380;
	}

.CalendarEvent a:hover, .CalendarEvent a:active{
	color: #f72525;
	}

/* Changes for Section508 */
table tr td strong {
	padding: 0px;
	margin: 0px;
}

.th { 
	font-family: Arial; font-size: 70%;
	font-weight: bold;
}


html>body .th {
	font-size: 100%;
}




.Header .th { 
	font-size: 90%; text-align: left;
	padding: 4px;
	background-color: #b543a7; color: #fcfcfc;
	width: 100%;
	white-space: nowrap;
}


html>body .Header .th {
	font-size: 130%; text-align: left;
}




.Caption .th { 
	font-size: 70%; text-align: left; vertical-align: top;
	padding: 4px;
	border-bottom: solid 2px #FFFFFF;
	background-color: #d3dbb6; color: #000000;
	white-space: nowrap;
}


html>body .Caption .th {
	font-size: 100%; text-align: left; vertical-align: top;
}




.Row .th { 
	font-size: 70%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 4px;
	border-bottom: solid 2px #FFFFFF;
	background-color: #f4f4f4; color: #000000;
	white-space: nowrap;
	color: #000000;
}

.AltRow .th { 
	font-size: 70%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 4px;
	border-bottom: solid 2px #FFFFFF;
	background-color: #f4f4f4; color: #000000;
	white-space: nowrap;
	color: #000000;
}

.Controls .th { 
	font-size: 70%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 4px;
	border-bottom: solid 2px #FFFFFF;
	background-color: #f4f4f4; color: #000000;
	white-space: nowrap;
	color: #000000;
}

.GroupCaption .th {
	font-size: 70%;
	padding: 4px;
	border-bottom: solid 2px #FFFFFF;
	text-align: left;
	white-space: nowrap;
	vertical-align: top;
	font-weight: bold;
	background-color: #f1f4e5; 
	color: #000000;
}


html>body .GroupCaption .th {
	font-size: 100%;
}

html>body .Row .th, html>body .AltRow .th, html>body .Controls .th {
	font-size: 100%; font-weight: normal; text-align: left; vertical-align: top;
}




/* Class for Application Builder Menu */
.simpleMenu td {
	font-size: 70%;
}


html>body .simpleMenu td {
	font-size: 100%;
} 



